<h2 class="title mb-5">
    Найдено вакансий
    <b class="vacancy-count" id="vacancy-count"></b>
</h2>
<div class="col-md-8" id="vacancy_widgets"></div>

<div class="col-md-4">
    <div class="vertical-banner">
        <div class="banner-title">
            400x600
            <span class="banner-subtitle">Здесь может быть ваш баннер</span>
        </div>
    </div>
</div>