{{{ search }}}

<div class="row content">
    <div class="col-md-8 vacancies-list">
        {{{ content }}}

        <div class="row mt-3">
            {{{ pagination }}}
        </div>

    </div>
    <div class="col-md-4">
       {{{ filter }}}
    </div>

</div>