body {
    font-family: "Roboto", "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background: #f4f6f6;
    color: #333a4d;
}

.content {
    background: #fff;
    height: 100%;
    width: 100%;
    padding: 30px;
    margin-top: 5%;
    margin-bottom: 5%;
    word-break: break-word;
    border-radius: 4px;
}


.vacancy-title {
    font-size: 24px;
    font-weight: 600;
}

.vacancy-date-publication {
    color: #797e84;
    margin-right: 30px;
    font-size: 14px;
}

.vacancy-salary {
    color: #797e84;
    margin-right: 30px;
    font-size: 14px;
}

.vacancy-salary > b {
    color: green;
}

.vacancy-short-description {
    font-size: 16px;
    margin-top: 10px;
    color: #6c7075;
}

.vacancy-tags {
    display: flex;
}

.vacancy-tags > .tag {
    background: #adb5bd;
    font-size: 13px;
    padding: 5px;
    margin-right: 10px;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 30px;
}

.vacancy-block {
    border-radius: 0px;
    padding: 20px;
    border-bottom: 1px solid #dedede;
}

.vacancy-block:hover {
    cursor: pointer;
    background: #f8f9fa;
}

.vacancy-info {
    font-size: 14px;
    color: #797e84;
}

.vacancy-company {
    margin-right: 30px;
}

.icon-hot {
    width: 32px;
    height: 32px;
}

.vacancy-banner.row {
    margin-top: 10px;
}

span.material-icons.icon {
    font-size: 16px;
    vertical-align: middle;
    color: #717171;
}

nav.navbar.navbar-expand-lg {
    background: #ffffff;
    color: black;
    height: 100px;
    font-size: 20px;
}

a.logo {
    font-size: 30px;
    font-weight: 700;
    color: #333a4d;
    text-decoration: none;
    margin-right: 20px;
}

a.nav-link {
    font-size: 18px;
    color: #797e84;
}

a.nav-link:hover {
    font-size: 18px;
    color: #000;
}

.vertical-banner {
    background: #adb5bd6b;
    padding: 20px;
    height: 400px;
    width: 300px;
    margin: auto;
    text-align: center;
}

.banner-title {
    margin: auto;
    text-align: center;
    font-size: 24px;
    color: grey;
    margin-top: 50%;
}

.banner-subtitle {
    display: block;
    font-size: 16px;
}

.vertical-banner:hover {
    cursor: pointer;
}

.vacancy-count {
    color: #6c757d;
}